<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title '' %} | Site name</title>
        <meta name="author" content="">

        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
        <link rel="sitemap" type="application/xml" title="Sitemap" href="sitemap.xml">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Site name">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="Site name">

        {% block seo_head %}{% endblock %}

        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <link href="{{ asset('/css/style__1.7.0.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <nav class="nav-collapse">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
        <script src="{{ asset('/js/script__1.7.0.js') }}"></script>
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>