<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title '' %} | Site name</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <link href="{{ asset('/css/style__1.7.0.css') }}" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="images/favicon.png" />
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="{{ asset('/js/script__1.7.0.js') }}"></script>
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>